<div class="mt-5">
  <h1 class="fw-bold">Détail du film</h1>
  <form action="" method="post" *ngIf="film!==undefined; else UndefinedFilm">
    <div class="input-group mb-3">
      <span class="input-group-text fw-bold" id="inputGroup-sizing-default">Titre</span>
      <input #titre type="text" class="form-control" value="{{film.titre}}" aria-label="Sizing example input"
             aria-describedby="inputGroup-sizing-default" disabled>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text fw-bold" id="inputGroup-sizing-default-1">Durée</span>
      <input #duree type="text" class="form-control" value="{{film.duree}} min" aria-label="Sizing example input"
             aria-describedby="inputGroup-sizing-default-1" disabled>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text fw-bold" id="inputGroup-sizing-default-2">Résumé</span>
      <input #resume type="text" class="form-control" value="{{film.resume}}" aria-label="Sizing example input"
             aria-describedby="inputGroup-sizing-default-2" disabled>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text fw-bold" id="inputGroup-sizing-default-3">Version</span>
      <input #version type="text" class="form-control" value="{{film.version.type}}" aria-label="Sizing example input"
             aria-describedby="inputGroup-sizing-default-3" disabled>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text fw-bold" id="inputGroup-sizing-default-4">Catégorie</span>
      <input #categorie type="text" class="form-control" value="{{film.categorie.nom}}" aria-label="Sizing example input"
             aria-describedby="inputGroup-sizing-default-4" disabled>
    </div>

    <input class="btn btn-dark m-3" type="button" value="Retour" (click)="goBack()">
  </form>
</div>

<ng-template #UndefinedFilm>
  <p>Pas de film disponible avec cet identifiant.</p>
</ng-template>
